[submodule "vendor/contreforts-kg"]
	path = vendor/contreforts-kg
	url = ssh://git@labs.deepthought-solutions.net:2222/contreforts/contreforts-kg.git
[submodule "vendor/contreforts-core"]
	path = vendor/contreforts-core
	url = ssh://git@labs.deepthought-solutions.net:2222/contreforts/contreforts-core.git
[submodule "vendor/contreforts-config"]
	path = vendor/contreforts-config
	url = ssh://git@labs.deepthought-solutions.net:2222/contreforts/contreforts-config.git
